<div class="pad-20" ng-hide="users.data.searching">

  <div class="container-fluid pad-10 text-center">
    <div class="btn-group">
      <div ng-class="{ 'active btn-primary': !users.data.inputs.order }" class="btn btn-sm btn-default" ng-click="users.fns.setOrder()">Onboard</div>
      <div ng-class="{ 'active btn-primary': users.data.inputs.order == 'updated_at_desc' }" class="btn btn-sm btn-default" ng-click="users.fns.setOrder('updated_at_desc')">Activity</div>
      <!-- <div ng-class="{ 'active btn-primary': users.data.inputs.order == 'created_at_asc' }" class="btn btn-sm btn-default" ng-click="users.fns.setOrder('created_at_asc')">Oldest</div> -->
    </div>
  </div><!-- /.container-fluid -->

  <div class="full-width text-center margin-0">
    <pagination
      total-items="users.data.inputs.count"
      items-per-page="users.data.inputs.perPage"
      ng-model="users.data.inputs.page"
      max-size="5"
      class="pagination-sm margin-0 vertical-align-top"
      previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"
      boundary-links="true"
      rotate="false"
      ng-change="users.fns.update()">
    </pagination>
  </div>

  <div class="container vert-20 text-center">
    <div ng-if="!users.data.inputs.order" class="btn btn-default btn-xs" ng-active="showEmail" ng-click="showEmail = !showEmail">Show email form</div>
    <div ng-show="!users.data.inputs.order && showEmail" class="max-width-900 margin-0-auto pad-10">
      <input type="text" ng-model="users.mailto.subject" class="form-control">
      <textarea ng-model="users.mailto.body" class="form-control" rows=15></textarea>
    </div>

    <ee-user-admin
      ng-repeat="user in users.data.users"
      user="user"
      ng-if="user.id != 1 && user.id != 47"
      show-activity="{{ users.data.inputs.order == 'updated_at_desc' }}"
      show-onboard="{{ !users.data.inputs.order }}"
      subject="users.mailto.subject"
      body="users.mailto.body">
    </ee-user-admin>

    <pre class="text-left">{{ users.data.users | json}}</pre>
  </div>

  <div class="full-width text-center" ng-hide="users.data.searching">
    <pagination
      total-items="users.data.inputs.count"
      items-per-page="users.data.inputs.perPage"
      ng-model="users.data.inputs.page"
      max-size="5"
      class="pagination-sm"
      previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"
      boundary-links="true"
      rotate="false"
      ng-change="users.fns.update()">
    </pagination>
  </div>
</div>

<ee-loading loading="users.data.searching"></ee-loading>
