<div class="container vert-10" ng-hide="user.reading">
  <div class="pad-10 gray-border vert-20 margin-top-0">
    <a href="{{ user.user.domain ? 'http://' + user.user.domain : 'https://' + user.user.username + '.eeosk.com' }}"
      target="_blank">
      <!-- STORE navbar -->
      <ee-storefront-header
        class="navbar-static"
        meta="user.user.storefront_meta"
        fluid="true"
        blocked="true">
      </ee-storefront-header>
      <!-- /STORE navbar -->
    </a>
  </div>

  <div id="stacked_chart"></div>
  <div id="pie_chart"></div>

  <div class="vert-20">
    <div class="full-width inline-block vert-2">
      <a href class="btn btn-sm btn-default pad-5" style="margin-right: 1px; width: 70px;"
        ng-repeat="month in user.months"
        ng-bind="month"
        ng-class="{ active: month == user.currentMonth, 'btn-info': month == user.currentMonth && user.monthViewActive }"
        ng-click="user.setViewTo('month', month)">
      </a>
    </div>
    <div class="full-width" style="overflow-x: scroll;">
      <div ng-style="{ width: '' + (user.dayWidth + 1) * user.days.length + 'px' }">
        <a href class="btn btn-sm pad-5" style="margin-right: 1px; width: 34px;"
          ng-repeat="day in user.days"
          ng-bind="day"
          ng-class="day == user.currentDay ? 'btn-info' : 'btn-default'"
          ng-style="{ width: '' + user.dayWidth + 'px' }"
          ng-click="user.setViewTo('day', day)">
        </a>
      </div>
    </div>
  </div>

  <h2>
    <span ng-bind="user.currentMonth"></span>
    <span ng-bind="user.currentDay" ng-if="user.currentDay"></span>
  </h2>
  <div ng-show="user.monthViewActive">Month View Active for {{ user.currentMonth }}</div>
  <div ng-show="user.dayViewActive">Day View Active for {{ user.currentDay }} {{ user.currentMonth }}</div>

  <pre class="vert-20"><small ng-bind="user.user | json"></small></pre>
</div>

<ee-loading loading="user.reading"></ee-loading>
