<div class="container vert-20" ng-if="track.data.track.id">
  <div class="full-width text-center">
    <a ui-sref="track({ id: tr.id, title: (tr.title | urlText) })"
      ng-repeat="tr in track.ee.Tracks.tracks | orderBy:'id' | filter:{ type: track.data.track.type }"
      class="no-underline">
      <span class="fa-stack fa-2x">
        <i class="fa fa-circle fa-stack-2x" style="-webkit-font-smoothing: antialiased;"
          ng-class="tr.show ? 'text-success' : 'text-danger'"
          ng-style="{ 'text-shadow': tr.id == track.id ? '#333 0px 0px 5px, #333 0px 0px 5px, #333 0px 0px 5px, #333 0px 0px 5px, #333 0px 0px 5px, #333 0px 0px 5px' : 'none' }"></i>
        <i class="fa fa-{{ tr.icon }} fa-stack-1x fa-inverse"></i>
      </span>
    </a>
    <hr>
  </div>
  <div ng-if="track.data.track.id">
    <h2>
      {{ track.data.track.title }}
      <div class="pull-right hover-pointer">
        <i class="fa fa-fw fa-pencil text-muted hover-pointer margin-7" style="font-size: 16px; vertical-align: middle;"
          ng-click="track.modalFns.open('track', { type: 'Update track', track: track.data.track })">
        </i>
        <span ng-click="track.toggleShow('track', track.data.track)">
          <i class="fa fa-fw fa-toggle-on text-success" ng-if="track.data.track.show"></i>
          <i class="fa fa-fw fa-toggle-off text-danger" ng-if="!track.data.track.show"></i>
        </span>
      </div>
    </h2>
    <uib-accordion class="track-accordion">
      <div ng-repeat="lane in track.data.track.lanes" class="position-relative">
        <div class="position-absolute" style="top: 9px; right: 7px;">
          <i class="fa fa-fw fa-pencil text-muted hover-pointer"
            ng-click="track.modalFns.open('track', { type: 'Update lane', lane: lane })">
          </i>
          <span class="hover-pointer" ng-click="track.toggleShow('lane', lane)">
            <i class="fa fa-fw fa-lg fa-toggle-on text-success" ng-if="lane.show"></i>
            <i class="fa fa-fw fa-lg fa-toggle-off text-danger" ng-if="!lane.show"></i>
          </span>
        </div>
        <uib-accordion-group>
          <uib-accordion-heading>
            <span class="pull-left">
              <span ng-repeat="activity in lane.activities">
                <i ng-if="$index < 5" class="fa fa-lg fa-circle-o" ng-class="activity.show ? 'text-success' : 'text-muted'"></i>
              </span>
              <span ng-repeat="n in [0,1,2,3,4]">
                <i ng-if="n >= lane.activities.length" class="fa fa-lg fa-circle-o fa-hide"></i>
              </span>
              &nbsp;
            </span>{{ lane.title }}
          </uib-accordion-heading>
          <div class="media white-background gray-border pad-10 margin-0">
            <div class="media-left">
              <i class="fa fa-fw fa-2x fa-info-circle text-muted"></i>
            </div>
            <div class="media-body">
              <p ng-if="lane.intro" ng-bind="lane.intro"
                style="white-space: pre-line;" class="margin-0">
              </p>
            </div>
          </div>
          <div class="media white-background gray-border pad-10 margin-0 position-relative"
            ng-repeat="activity in lane.activities">
            <div class="position-absolute" style="top: 7px; right: 5px; width: 70px;">
              <i class="fa fa-fw fa-pencil text-muted hover-pointer"
                ng-click="track.modalFns.open('track', { type: 'Update activity', activity: activity })">
              </i>
              <span class="hover-pointer" ng-click="track.toggleShow('activity', activity)">
                <i class="fa fa-fw fa-lg fa-toggle-on text-success" ng-if="activity.show"></i>
                <i class="fa fa-fw fa-lg fa-toggle-off text-danger" ng-if="!activity.show"></i>
              </span>
            </div>
            <div class="media-left">
              <i class="fa fa-fw fa-2x fa-circle-o" ng-class="activity.show ? 'text-success' : 'text-muted'"></i>
            </div>
            <div class="media-body">
              <h4 class="vert-15 margin-top-0 hover-pointer" ng-click="activity.uncollapse = !activity.uncollapse">
                <span ng-bind="activity.title"></span>&nbsp;<i class="fa" ng-class="activity.uncollapse ? 'fa-angle-up' : 'fa-angle-down'"></i>
              </h4>
              <p ng-bind-html="activity.html" uib-collapse="!activity.uncollapse"></p>
            </div>
          </div>
          <div class="pull-right">
            <div class="btn btn-sm btn-link"
              ng-if="lane.activities.length > 1"
              ng-click="track.modalFns.open('track', { type: 'Reorder activities', lane: lane })">
              Reorder activities
            </div>
            <div class="btn btn-default vert-5"
              ng-click="track.modalFns.open('track', { type: 'Create activity', track: track.data.track, lane: lane })">
              Add an<span ng-if="lane.activities.length > 0">other</span> activity
            </div>
          </div>
        </uib-accordion-group>
      </div>
      <!-- Ongoing activities -->
      <div class="position-relative">
        <!-- <div class="position-absolute" style="top: 9px; right: 7px;">
          <i class="fa fa-fw fa-pencil text-muted hover-pointer"
            ng-click="track.modalFns.open('track', { type: 'Update lane', lane: lane })">
          </i>
          <span class="hover-pointer" ng-click="track.toggleShow('lane', lane)">
            <i class="fa fa-fw fa-lg fa-toggle-on text-success" ng-if="lane.show"></i>
            <i class="fa fa-fw fa-lg fa-toggle-off text-danger" ng-if="!lane.show"></i>
          </span>
        </div> -->
        <uib-accordion-group>
          <uib-accordion-heading>
            <span class="pull-left">
              <span>
                <i class="fa fa-lg fa-refresh text-info"></i>
              </span>
              <span ng-repeat="n in [0,1,2,3]">
                <i class="fa fa-lg fa-circle-o fa-hide"></i>
              </span>
              &nbsp;
            </span>{{ track.data.track.last_lane_name }}
          </uib-accordion-heading>
          <div class="media white-background gray-border pad-10 vert-10 margin-top-0 position-relative"
            ng-repeat="activity in track.data.track.unassigned_activities">
            <div class="position-absolute" style="top: 7px; right: 5px; width: 70px;">
              <i class="fa fa-fw fa-pencil text-muted hover-pointer"
                ng-click="track.modalFns.open('track', { type: 'Update activity', activity: activity })">
              </i>
              <span class="hover-pointer" ng-click="track.toggleShow('activity', activity)">
                <i class="fa fa-fw fa-lg fa-toggle-on text-success" ng-if="activity.show"></i>
                <i class="fa fa-fw fa-lg fa-toggle-off text-danger" ng-if="!activity.show"></i>
              </span>
            </div>
            <div class="media-left">
              <i class="fa fa-fw fa-2x fa-circle-o" ng-class="activity.show ? 'text-success' : 'text-muted'"></i>
            </div>
            <div class="media-body">
              <h4 class="vert-15 margin-top-0 hover-pointer" ng-click="activity.uncollapse = !activity.uncollapse">
                <span ng-bind="activity.title"></span>&nbsp;<i class="fa" ng-class="activity.uncollapse ? 'fa-angle-up' : 'fa-angle-down'"></i>
              </h4>
              <p ng-bind-html="activity.html" uib-collapse="!activity.uncollapse"></p>
            </div>
          </div>
          <div class="pull-right">
            <!-- <div class="btn btn-sm btn-link"
              ng-if="lane.activities.length > 1"
              ng-click="track.modalFns.open('track', { type: 'Reorder activities', lane: lane })">
              Reorder activities
            </div> -->
            <div class="btn btn-default"
              ng-click="track.modalFns.open('track', { type: 'Create activity', track: track.data.track, lane: {} })">
              Add an<span ng-if="lane.activities.length > 0">other</span> activity
            </div>
          </div>
          <!-- <pre>{{ lane | json }}</pre> -->
        </uib-accordion-group>
      </div>
      <!-- /Ongoing activities -->
    </uib-accordion>
    <div class="pull-right">
      <div class="btn btn-sm btn-link"
        ng-if="track.data.track.lanes.length > 1"
        ng-click="track.modalFns.open('track', { type: 'Reorder lanes', track: track.data.track })">
        Reorder lanes
      </div>
      <div class="btn btn-default"
        ng-click="track.modalFns.open('track', { type: 'Create lane', track: track.data.track })">
        Add a<span ng-if="track.data.track.lanes.length > 0">nother</span> lane
      </div>
    </div>
    <!-- <pre>{{ track.data.track | json }}</pre> -->
  </div>
</div>
