<!-- CATALOG templates -->
<div id="catalog-templates" class="inline-block full-width pad-20 position-relative text-center" ng-hide="templates.ee.loading">

  <div class="margin-5 text-center">

    <form class="margin-0-auto max-width-600" ng-submit="templates.fns.search()">
      <div class="input-group">
        <input type="text" ng-model="templates.data.inputs.search" class="form-control" placeholder="Search">
        <span class="input-group-btn">
          <button class="btn btn-default" type="submit" name="search-btn">
            <span class="hidden-xs">Search</span>
            <span class="visible-xs"><i class="fa fa-search"></i></span>
          </button>
        </span>
      </div>
    </form>

    <div class="inline-block margin-5">
      <div ng-repeat="category in templates.data.inputs.categoryArray"
           ng-click="templates.fns.setCategory(category)"
           class="btn btn-xs btn-default margin-2"
           ng-class="{ 'btn-primary': category == templates.data.inputs.category }"
           ng-hide="templates.data.hideFilterBtns && category != templates.data.inputs.category">
        <span ng-show="category == templates.data.inputs.category"><i class="fa fa-fw fa-times"></i></span>{{ category }}
      </div>
      <br ng-hide="templates.data.hideFilterBtns">
      <div ng-repeat="range in templates.data.inputs.rangeArray"
           ng-click="templates.fns.setRange(range)"
           class="btn btn-xs btn-default margin-2"
           ng-class="{ 'btn-primary': range.min == templates.data.inputs.range.min && range.max == templates.data.inputs.range.max }"
           ng-hide="templates.data.hideFilterBtns && range.min != templates.data.inputs.range.min">
        <span ng-show="range.min == templates.data.inputs.range.min && range.max == templates.data.inputs.range.max"><i class="fa fa-fw fa-times"></i></span>{{ range | rangeToText }}
      </div>
      <br ng-hide="templates.data.hideFilterBtns">
      <div class="btn btn-xs btn-primary margin-2" ng-show="templates.data.inputs.searchLabel" ng-click="templates.fns.clearSearch()">
        <i class="fa fa-fw fa-times"></i>{{ templates.data.inputs.searchLabel }}
      </div>
    </div>

    <div class="margin-10">
      <uib-pagination total-items="templates.data.count"
        items-per-page="templates.data.inputs.perPage"
        ng-model="templates.data.inputs.page"
        max-size="5"
        class="pagination-sm margin-0 vertical-align-top"
        previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"
        boundary-links="true"
        rotate="false"
        ng-change="templates.fns.update()">
      </uib-pagination>
    </div>

  </div>

  <div ng-show="templates.data.searching" class="position-absolute top-left-bottom-right-0" style="z-index: 100;">
    <div class="position-absolute full-width full-height white-background opacity-08" style="z-index: 0;"></div>
    <h2 class="position-relative margin-0 pad-10">
      <i class="fa fa-fw fa-circle-o-notch fa-spin text-info"></i>&nbsp;Loading
    </h2>
  </div>

  <div class="inline-block" ng-class="{ 'opacity-08': templates.data.searching }">
    <div class="btn btn-xs btn-default" ng-class="{ active: templates.compact }" ng-click="templates.compact = !templates.compact">compact</div>
    <div class="btn btn-link" ng-click="hideHidden = !hideHidden">
      <span ng-hide="hideHidden">hide </span>
      <span ng-show="hideHidden">show </span>
      hidden templates on this page
    </div>
    <br>
    <div ng-repeat="template in templates.data.templates"
        ng-hide="template.hide_from_catalog && hideHidden"
        class="inline-block text-left gray-border vertical-align-top pad-5 margin-2"
        style="width: 22%; height: 75px;">
      <div class="media">
        <div class="media-left">
          <a href ng-click="templates.open(template)">
            <img class="media-object" ng-src="{{ template.image | thumbnail }}">
          </a>
        </div>
        <div class="media-body">
          <p href ng-click="templates.open(template)" class="media-heading line-height-1 text-info hover-pointer hover-underline overflow-hidden" style="max-height: 37px;" ng-bind="template.title"></p>
          <div ng-click="templates.hide(template)" class="btn btn-xs btn-default" ng-hide="template.hide_from_catalog" ng-disabled="template.loading">Hide</div>
          <div ng-click="templates.unhide(template)" class="btn btn-xs btn-danger" ng-show="template.hide_from_catalog" ng-disabled="template.loading">Show</div>&nbsp;
          <small>id: {{ template.id }}</small>
        </div>
      </div>
    </div>
  </div>

  <div class="margin-10" ng-hide="templates.data.templates.length <= 0">
    <uib-pagination total-items="templates.data.count"
      items-per-page="templates.data.inputs.perPage"
      ng-model="templates.data.inputs.page"
      max-size="5"
      class="pagination-sm margin-0 vertical-align-top"
      previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"
      boundary-links="true"
      rotate="false"
      ng-change="templates.fns.update()">
    </uib-pagination>
  </div>

  <div ng-show="!templates.data.searching && templates.data.templates.length <= 0">
    <div class="pad-20">No results found</div>
  </div>
</div>
<!-- /CATALOG templates -->
