<!-- CATALOG navbar -->
<h2 class="margin-10">Products</h2>
<nav class="navbar navbar-default navbar-inverse navbar-fixed-top margin-0 round-0 no-side-border"
     style="z-index: 2000;"
     id="catalog-top">
  <div class="container-fluid pad-10">
    <div class="btn-group" dropdown>
      <div class="btn btn-default dropdown-toggle" dropdown-toggle>
        {{ admin.data.inputs.category || 'Categories'}} <span class="caret"></span>
      </div>
      <ul class="dropdown-menu">
        <li><a href ng-click="admin.fns.setCategory()">All Categories</a></li>
        <li class="divider"></li>
        <li ng-repeat="cat in admin.data.inputs.categoryArray" ng-class="{ active: cat == admin.data.inputs.category }">
          <a href ng-click="admin.fns.setCategory(cat)" ng-bind="cat"></a>
        </li>
      </ul>
    </div>
    <div class="btn-group" dropdown>
      <div class="btn btn-default dropdown-toggle" dropdown-toggle>
        {{ admin.data.inputs.range | rangeToText }} <span class="caret"></span>
      </div>
      <ul class="dropdown-menu">
        <li><a href ng-click="admin.fns.setRange()">All Prices</a></li>
        <li class="divider"></li>
        <li ng-repeat="range in admin.data.inputs.rangeArray" ng-class="{ active: range.min == admin.data.inputs.range.min }">
          <a href ng-click="admin.fns.setRange(range)">
            {{ range | rangeToText }}
          </a>
        </li>
      </ul>
    </div>
    <div class="btn btn-default" ng-click="admin.fns.decrementPage()" name="left-btn" ng-class="{ disabled: admin.data.inputs.page < 2 }">
      <i class="fa fa-fw fa-long-arrow-left"></i>
    </div>
    <div class="btn btn-default" ng-click="admin.fns.incrementPage()" name="right-btn" ng-class="{ disabled: admin.data.inputs.products.length < admin.data.inputs.productsPerPage }">
      <i class="fa fa-fw fa-long-arrow-right"></i>
    </div>
    <form class="navbar-form navbar-right margin-0" ng-submit="admin.fns.search()">
      <div class="input-group">
        <input type="text" ng-model="admin.data.inputs.search" class="form-control" placeholder="Search">
        <span class="input-group-btn">
          <button class="btn btn-default" type="submit" name="search-btn"><i class="fa fa-fw fa-search"></i></button>
        </span>
      </div>
    </form>
  </div><!-- /.container-fluid -->
</nav>
<!-- /CATALOG navbar -->
<!-- CATALOG products -->
<div id="catalog-products" class="pad-20 position-relative min-height-600">

  <div ng-show="admin.data.searching" class="position-absolute top-left-bottom-right-0" style="z-index: 100;">
    <div class="position-absolute full-width full-height white-background opacity-08" style="z-index: 0;"></div>
    <h2 class="position-relative margin-0 pad-10">
      <i class="fa fa-fw fa-circle-o-notch fa-spin text-info"></i>&nbsp;Loading
    </h2>
  </div>

  <div ng-class="{ 'opacity-08': admin.data.searching }">
    <div ng-repeat="product in admin.data.products" class="position-relative">
      <a href ng-click="admin.productFns.openProductModal(product.id)"
          class="thumb margin-2"
          style="height: 80px; width: 80px; background-image: url('{{ product.image_meta.main_image.url | thumbnail }}')">
      </a>
      &nbsp;&nbsp;
      <div class="inline-block vertical-align-top max-width-600">
        <h4>{{ product.title }}</h4>
        <p>id: {{ product.id }}</p>
      </div>
      <div class="vertical-align-top pull-right">
        <div class="btn btn-default">Edit</div>
        <div class="btn btn-default">Hide</div>
      </div>
    </div>
  </div>

  <div ng-show="!admin.data.searching && admin.data.products.length <= 0">
    <div class="pad-20">No results found</div>
  </div>
</div>
<!-- /CATALOG products -->
