<div class="gray-border inline-block text-left border-none vertical-align-top pad-2 margin-0"
    ng-class="{ 'opacity-05': product.updating }"
    style="width: 1060px;">
  <div class="media overflow-visible">
    <div class="media-left overflow-visible">

      <a href="https://www.doba.com/members/my-inventory/product/details/{{ product.external_identity.split('.')[1] }}" target="_blank">
        <img class="media-object" ng-src="{{ (product.image | thumbnail) || 'https://placeholdit.imgix.net/~text?txtsize=20&bg=ffffff&txtclr=ffcccc&txt=no+image&w=70&h=70' }}">
      </a>
      <!-- <small class="text-muted">{{ product.id }}</small> -->

    </div>
    <div class="media-body overflow-visible">

      <!-- <div class="media-heading" ng-if="compact">
        TODO redo with sku.hide_from_catalog
        <span class="inline-block line-height-1 text-info hover-pointer hover-underline overflow-hidden" style="max-height: 37px;"
          ng-click="open()"
          ng-bind="product.title"
          ng-if="compact"></span>
        <div ng-click="setHidden(true)" class="btn btn-xs btn-default" ng-hide="product.hide_from_catalog" ng-disabled="product.reading">Hide</div>
        <div ng-click="setHidden(false)" class="btn btn-xs btn-danger" ng-show="product.hide_from_catalog" ng-disabled="product.reading">Show</div>&nbsp;
      </div> -->

      <!-- Text -->
      <div ng-if="$state.current.name == 'products.text'">
        <form ng-submit="updateText(product)" class="margin-0">
          <table class="table table-striped table-condensed table-bordered margin-0">
            <tr ng-class="{ success: product.saved }">
              <th colspan=7 class="min-width-600">
                <input type="text" ng-model="product.title" class="full-width"/>
              </th>
              <th colspan=1>
                <small class="text-muted">product id: <span ng-bind="product.id"></span></small>
                <div class="pull-right">
                  <i class="fa fa-fw fa-check text-success" ng-show="product.saved"></i>
                  <button type="submit" class="btn btn-xs btn-default">Submit</button>
                </div>
              </th>
            </tr>
            <tr>
              <td colspan=8 class="pad-0">
                <ee-sku-for-admin
                  ng-repeat="sku in product.skus | orderBy:'price'"
                  sku="sku"
                  content="product.content"
                  external-id="product.external_identity.split('.')[1]">
                </ee-sku-for-admin>
              </td>
            </tr>
            <tr>
              <td colspan=8>
                <textarea msd-elastic ng-model="product.content" class="full-width gray-border" style="font-size: 12px;"></textarea>
              </td>
            </tr>
          </table>
        </form>
      </div>
      <!-- /Text -->

      <!-- Tags -->
      <div ng-if="$state.current.name == 'products.tags'">
        <div class="pull-right margin-5">
          <div ng-if="product.saved" class="inline-block pad-5"><i class="fa fa-fw fa-check text-success"></i></div>
          <div class="btn btn-default" ng-click="copyTags()"><i class="fa fa-fw fa-copy"></i></div>&nbsp;
          <div class="btn btn-default" ng-click="pasteTags()"><i class="fa fa-fw fa-paste"></i></div>
        </div>
        <div>
          <a href ng-click="setAsActiveProduct()" ng-bind="product.title"></a>
        </div>
        <small>Old tags: <span ng-bind="product.skus[0].tags.join(' | ')"></span></small>
        <div>
          <span ng-repeat="tag in product.skus[0].tags1" ng-bind="tag" class="badge"></span>
          <i class="fa fa-fw fa-chevron-right"></i>
          <span ng-repeat="tag in product.skus[0].tags2" ng-bind="tag" class="badge"></span>
          <i class="fa fa-fw fa-chevron-right"></i>
          <span ng-repeat="tag in product.skus[0].tags3" ng-bind="tag" class="badge"></span>
        </div>
      </div>
      <!-- /Tags -->

      <ee-sku-for-admin
        ng-if="$state.current.name != 'products.text' && $state.current.name != 'products.tags' && product.external_identity"
        ng-repeat="sku in product.skus | orderBy:'price'"
        sku="sku"
        external-id="product.external_identity.split('.')[1]"
        styles="styles"
        colors="colors"
        materials="materials"
        category-id="product.category_id">
      </ee-sku-for-admin>

    </div> <!-- /media-body -->

  </div>
</div>
