<div class="well inline-block text-left gray-border vertical-align-top pad-5 margin-2" ng-class="product.hide_from_catalog ? 'light-dark-background' : 'white-background'">
  <div class="media overflow-visible">
    <div class="media-left overflow-visible">
      <a href ng-click="open()">
        <img class="media-object max-width-120 max-height-120" ng-src="{{ product.image | thumbnail }}">
      </a>
    </div>
    <div class="media-body overflow-visible">
      <div class="media-heading">
        <span ng-click="open()" class="line-height-1 text-info hover-pointer hover-underline overflow-hidden" style="max-height: 37px;" ng-bind="product.title"></span>
        <div ng-click="setHidden(true)" class="btn btn-xs btn-default" ng-hide="product.hide_from_catalog" ng-disabled="product.reading">Hide</div>
        <div ng-click="setHidden(false)" class="btn btn-xs btn-danger" ng-show="product.hide_from_catalog" ng-disabled="product.reading">Show</div>&nbsp;
        <small>id: {{ product.id }}</small>
      </div>

      <form class="form-inline" ng-submit="updateTaxonomy()">

        <div class="input-group input-group-sm max-width-120">
          <input type="text" ng-model="product.style" class="form-control" placeholder="Style">
          <div class="input-group-btn"><div class="btn btn-default"><span class="caret"></span></div></div>
        </div>&nbsp;
        <div class="input-group input-group-sm max-width-120">
          <input type="text" ng-model="product.color" class="form-control max-width-120" placeholder="Color">
          <div class="input-group-btn"><div class="btn btn-default"><span class="caret"></span></div></div>
        </div>&nbsp;
        <div class="input-group input-group-sm max-width-120">
          <input type="text" ng-model="product.material" class="form-control max-width-120" placeholder="Material">
          <div class="input-group-btn"><div class="btn btn-default"><span class="caret"></span></div></div>
        </div>&nbsp;
        <div class="input-group input-group-sm max-width-200">
          <input type="text" ng-model="product.length" class="form-control" style="width: 33%;" placeholder="L">
          <input type="text" ng-model="product.width" class="form-control" style="width: 33%;" placeholder="W">
          <input type="text" ng-model="product.height" class="form-control" style="width: 34%;" placeholder="H">
          <div class="input-group-btn" dropdown>
            <ul class="dropdown-menu">
              <li ng-repeat="option in taxonomy.options.lwh">
                <a href ng-click="setTaxonomyDropdownLWH(option)" ng-bind="option"></a>
              </li>
            </ul>
            <div class="btn btn-default" dropdown-toggle>{{ taxonomy.current.lwh }} <span class="caret"></span></div>
          </div>
        </div>&nbsp;
        <div class="input-group input-group-sm max-width-120">
          <input type="text" ng-model="product.weight" class="form-control" placeholder="Weight">
          <div class="input-group-btn" dropdown>
            <ul class="dropdown-menu">
              <li ng-repeat="option in taxonomy.options.weight">
                <a href ng-click="setTaxonomyDropdownWeight(option)" ng-bind="option"></a>
              </li>
            </ul>
            <div class="btn btn-default" dropdown-toggle>{{ taxonomy.current.weight }} <span class="caret"></span></div>
          </div>
        </div>&nbsp;
        <button type="submit" class="btn btn-sm btn-default" ng-disabled="product.updating">Submit</button>
        <i class="fa fa-fw fa-check text-success" ng-show="product.succeeded"></i>
      </form>
    </div>
  </div>
</div>
