<div ng-class="{ 'bg-light-info': !sku.auto_pricing, 'bg-warning': sku.quantity < 1, 'bg-danger': sku.discontinued || sku.hide_from_catalog, 'bg-light-success': sku.saved }">
  <!-- Pricing -->
  <div ng-if="$state.current.name == 'products.pricing'"
    class="full-width text-right"
    style="width: 970px; height: 24px; border-bottom: 1px solid #eceff1;">

    <!-- supply pricing -->
    <div class="inline-block pull-left text-muted">
      <div class="width-58 min-height-20" ng-bind="sku.supply_price | centToDollar"></div>
    </div>
    <div class="inline-block pull-left text-muted">
      <div class="width-58 min-height-20" ng-bind="sku.supply_shipping_price | centToDollar"></div>
    </div>
    <!-- /supply pricing -->

    <!-- baseline & default pricing -->
    <div class="inline-block pull-left width-58 text-muted">
      <strong ng-hide="showEdit" ng-bind="sku.baseline_price | centToDollar"></strong>
      <input type="number" ng-show="showEdit" ng-model="sku.baseline_price" class="full-width text-right pad-0" style="margin-top: -2px;"/>
    </div>
    <div class="inline-block pull-left">
      <div class="width-58 min-height-20">
        <strong ng-bind="sku.price | centToDollar"></strong>
      </div>
    </div>
    <div class="inline-block pull-left width-58">
      <strong ng-hide="showEdit" ng-bind="sku.shipping_price | centToDollar"></strong>
      <input type="number" ng-show="showEdit" ng-model="sku.shipping_price" class="full-width text-right pad-0" style="margin-top: -2px;"/>
    </div>
    <div class="inline-block pull-left text-muted">
      <div class="width-58 min-height-20"
        ng-class="{ 'text-danger': sku.price < sku.baseline_price }"
        ng-bind="sku.percentage | percentage:0">
      </div>
    </div>
    <div class="inline-block pull-left text-muted">
      <div class="width-58 min-height-20"
        ng-bind="sku.price * sku.percentage + 1 | centToDollar">
      </div>
    </div>
    <!-- /baseline & default pricing -->

    <!-- eeosk profit -->
    <div class="inline-block pull-left width-58 text-muted">
      <strong ng-bind="(sku.price * (1 - sku.percentage)) + sku.shipping_price - sku.supply_price - sku.supply_shipping_price | centToDollar"
        ng-class="{ 'text-danger': sku.baseline_price + sku.shipping_price - sku.supply_price - sku.supply_shipping_price < 0 }">
      </strong>
    </div>
    <!-- /eeosk profit -->

    <!-- msrp -->
    <div class="inline-block pull-left text-muted width-58">
      <div class="width-58 min-height-20" ng-bind="sku.msrp | centToDollar"></div>
    </div>
    <div class="inline-block pull-left text-muted width-58" ng-class="{ 'text-danger': sku.msrp < sku.price }">
      <span ng-bind="100*(sku.msrp - sku.price)/sku.msrp | number:1"></span>%
    </div>
    <!-- /msrp -->

    <div class="inline-block pull-left text-muted">
      <div class="width-45 min-height-20" ng-bind="sku.quantity"></div>
    </div>

    <!-- <div class="inline-block pull-left width-45">
      <input type="checkbox" ng-model="sku.auto_pricing" ng-disabled="!showEdit">
    </div> -->
    <div class="inline-block pull-left width-58">
      <i class="fa fa-fw fa-lg vert-2 hover-pointer"
        ng-class="sku.hide_from_catalog ? 'fa-toggle-off text-danger' : 'fa-toggle-on text-success'"
        ng-click="toggleHidden()"></i>
    </div>

    <div class="inline-block pull-left width-58">
      <div class="btn btn-xs btn-default" ng-click="showEditor()" ng-hide="showEdit">Edit</div>
      <div class="btn btn-xs btn-default" ng-show="showEdit" ng-click="updatePricing()">Submit</div>
    </div>

    <div class="inline-block pull-left" style="margin-left: 20px;">
      <small>product {{ sku.product_id }}, sku {{ sku.id }}</small>
    </div>

    <!-- Links -->
    <!-- <div class="inline-block pull-left">
      <div class="btn-group" style="margin-left: 20px;">
        <a href="https://www.doba.com/members/my-inventory/product/details/{{ externalId }}" target="_blank" class="btn btn-xs btn-default">doba</a>
        <a href="https://www.google.com/search?q={{ (sku.identifier + ' ' + sku.selection_text) | pluses }}" target="_blank" class="btn btn-xs btn-default">goog</a>
        <a href="http://www.amazon.com/s/?field-keywords={{ (sku.identifier + ' ' + sku.selection_text) | pluses }}" target="_blank" class="btn btn-xs btn-default">amzn</a>
        <a href="http://www.wayfair.com/keyword.php?keyword={{ sku.selection_text | pluses }}" target="_blank" class="btn btn-xs btn-default">wayfr</a>
      </div>
    </div> -->
    <!-- /Links -->

  </div>
  <!-- /Pricing -->

  <!-- Dimension -->
  <div ng-if="$state.current.name == 'products.text'" class="pad-5">
    <input type="text" ng-model="sku.selection_text" style="width: 420px;" placeholder="Sku description">
    &nbsp;<small>sku id: <span ng-bind="sku.id"></span></small>&nbsp;
    <div class="pull-right text-right" style="width: 450px;">
      <!-- Links -->
      <div class="inline-block">
        <small>Dimensions</small>
        <div class="btn-group" style="margin-left: 5px;">
          <div ng-click="copySku()" class="btn btn-default btn-xs"><i class="fa fa-fw fa-copy hover-pointer"></i></div>
          <div ng-click="pasteSkuDimensions()" class="btn btn-default btn-xs"><i class="fa fa-fw fa-paste hover-pointer"></i></div>
          <div ng-click="guessDimensions()" class="btn btn-default btn-xs"><i class="fa fa-fw fa-magic hover-pointer"></i></div>
        </div>
      </div>&nbsp;
      <!-- /Links -->
      <span uib-dropdown is-open="openDropdowns" ng-repeat="dim in ['length', 'width', 'height']">
        <input type="text" ng-model="sku[dim]" style="width: 34px" placeholder="{{ dim[0].toUpperCase() }}" uib-dropdown-toggle
          ng-class="(!sku.length && !sku.width && !sku.height) ? 'red-border' : ''">
        <ul class="dropdown-menu" style="min-width: 34px;" uib-dropdown-menu>
          <li ng-repeat="guess in dimensionGuesses">
            <a href style="padding: 2px 5px !important;" ng-click="setDimension(dim, guess)">{{ guess }}</a>
          </li>
        </ul>
      </span>
      <!-- <input type="text" ng-model="sku.length" style="width: 34px" placeholder="L"> -->
      <!-- <input type="text" ng-model="sku.width" style="width: 34px" placeholder="W"> -->
      <!-- <input type="text" ng-model="sku.height" style="width: 34px" placeholder="H"> -->
      &nbsp;in.&nbsp;
      <input type="text" ng-model="sku.weight" style="width: 34px" placeholder="Weight">&nbsp;lbs.
    </div>
    <div>
      <div class="inline-block pad-2">
        <a href="https://www.doba.com/members/my-inventory/product/details/{{ externalId }}" target="_blank">doba</a>&nbsp
        <!-- <a href="https://www.doba.com/members/catalog/search?adv_filter_update%5B%5D=0&shipping_filter=all&min_qty=0&adv_filter_update%5B%5D=0&adv_filter_update%5Bout_of_stock%5D=on&adv_filter_update%5Bdiscontinued%5D=on&adv_filter_update%5Brefurbished%5D=on&terms={{ sku.identifier }}" target="_blank" class="btn btn-xs btn-default">doba</a> -->
        <a href="https://www.google.com/search?q={{ (sku.identifier + ' ' + sku.selection_text) | pluses }}" target="_blank">goog</a>&nbsp
        <a href="http://www.amazon.com/s/?field-keywords={{ (sku.identifier + ' ' + sku.selection_text) | pluses }}" target="_blank">amzn</a>&nbsp
        <a href="http://www.wayfair.com/keyword.php?keyword={{ sku.selection_text | pluses }}" target="_blank">wayfr</a>
      </div>
      <div class="inline-block pull-right" style="margin-right: 120px;">
        <i class="fa fa-fw fa-exchange hover-pointer" ng-click="swapDimensions('length', 'width')" uib-tooltip="Swap L & W" tooltip-placement="bottom"></i>
        &nbsp;&nbsp;
        <i class="fa fa-fw fa-exchange hover-pointer" ng-click="swapDimensions('width', 'height')" uib-tooltip="Swap W & H" tooltip-placement="bottom"></i>
      </div>

    </div>
  </div>
  <!-- /Dimension -->

  <!-- Style, color, material -->
  <div ng-if="$state.current.name == 'products.properties'" class="pad-2">
    <!-- style -->
    <div class="dropdown inline-block" uib-dropdown>
      <input type="text" style="width: 180px;" ng-model="sku.style" placeholder="Styles" uib-dropdown-toggle>
      <ul class="uib-dropdown-menu" uib-dropdown-menu>
        <li ng-repeat="attr in styles">
          <a href ng-click="addVal('style', attr.value)" ng-bind="attr.value"></a>
        </li>
      </ul>
    </div>
    <!-- /style -->
    <!-- color -->
    <div class="dropdown inline-block" uib-dropdown>
      <input type="text" style="width: 120px;" ng-model="sku.color" placeholder="Colors" uib-dropdown-toggle>
      <ul class="uib-dropdown-menu" uib-dropdown-menu>
        <li ng-repeat="attr in colors">
          <a href ng-click="addVal('color', attr.value)" ng-bind="attr.value"></a>
        </li>
      </ul>
    </div>
    <!-- /color -->
    <!-- material -->
    <div class="dropdown inline-block" uib-dropdown>
      <input type="text" style="width: 190px;" ng-model="sku.material" placeholder="Materials" uib-dropdown-toggle>
      <ul class="uib-dropdown-menu" uib-dropdown-menu>
        <li ng-repeat="attr in materials">
          <a href ng-click="addVal('material', attr.value)" ng-bind="attr.value"></a>
        </li>
      </ul>
    </div>
    <!-- /material -->
    <input ng-model="sku.selection_text" style="width: 400px;">

    <div class="btn btn-xs btn-default" ng-click="updateStyleColorMaterial()">Submit</div>
  </div>
  <!-- /Style, color, material -->

  <!-- Tags & Categories -->
  <div ng-if="$state.current.name == 'products.tags'"
    class="full-width"
    style="width: 970px; height: 24px; border-bottom: 1px solid #eceff1;">
    <div class="inline-block" style="width: 95px;" uib-dropdown>
      <small class="hover-pointer" uib-dropdown-toggle> {{ category.title }} <i class="fa fa-caret-down"></i></small>
      <ul uib-dropdown-menu>
        <li ng-repeat="cat in categories">
          <a href ng-bind="cat.title" ng-click="setCategoryId(cat.id)"></a>
        </li>
      </ul>
    </div>
    &nbsp;
    <div class="btn btn-xs btn-default" ng-click="copySku()"><i class="fa fa-copy"></i></div>
    <div class="btn btn-xs btn-default" ng-click="pasteSkuTags()"><i class="fa fa-paste"></i></div>
    <div class="inline-block" uib-dropdown>
      <div class="btn btn-xs btn-default" uib-dropdown-toggle> Add Tag <i class="fa fa-fw fa-caret-down"></i></div>
      <ul uib-dropdown-menu>
        <li ng-repeat="subtag in category.subtags">
          <a href ng-bind="subtag" ng-click="addTag(subtag)"></a>
        </li>
      </ul>
    </div>

    <div class="btn btn-xs btn-default" ng-click="updateCategoryTags()">Save</div>
    &nbsp;
    <div ng-repeat="tag in sku.tags"
      class="badge"
      style="margin-right: 5px;"
      ng-if="tag != 'Home, garden & living'">
      <span ng-bind="tag"></span>&nbsp;<span ng-click="removeTag(tag)"><i class="fa fa-fw fa-times hover-pointer"></i></span>
    </div>
    <small ng-bind="sku.selection_text"></small>
  </div>
  <!-- /Tags & Categories -->

</div>
