<tr>
  <td style="width: 40%; overflow: hidden;"><small ng-bind="sku.selection_text"></small></td>
  <td><small ng-bind="sku.regular_price | centToDollar"></small></td>
  <td ng-hide="true">
    <!-- style -->
    <div class="dropdown" dropdown>
      <input type="text" ng-model="sku.style" placeholder="Style" dropdown-toggle>
      <ul class="dropdown-menu">
        <li ng-repeat="attr in styles">
          <a href ng-click="addVal('style', attr.value)" ng-bind="attr.value"></a>
        </li>
      </ul>
    </div>
    <!-- /style -->
  </td>
  <td ng-hide="true">
    <!-- color -->
    <div class="dropdown" dropdown>
      <input type="text" ng-model="sku.color" placeholder="Color" dropdown-toggle>
      <ul class="dropdown-menu">
        <li ng-repeat="attr in colors">
          <a href ng-click="addVal('color', attr.value)" ng-bind="attr.value"></a>
        </li>
      </ul>
    </div>
    <!-- /color -->
  </td>
  <td>
    <!-- material -->
    <div class="dropdown" dropdown>
      <input type="text" ng-model="sku.material" class="full-width" placeholder="Material" dropdown-toggle>
      <ul class="dropdown-menu">
        <li ng-repeat="attr in materials">
          <a href ng-click="addVal('material', attr.value)" ng-bind="attr.value"></a>
        </li>
      </ul>
    </div>
    <!-- /material -->
  </td>
  <td>
    <!-- lwh -->
    <input type="text" ng-model="sku.length" style="width: 34px" placeholder="L">
    <input type="text" ng-model="sku.width" style="width: 34px" placeholder="W">
    <input type="text" ng-model="sku.height" style="width: 34px" placeholder="H">
    <div class="dropdown inline-block" dropdown>
      <div class="hover-pointer" style="width: 37px" dropdown-toggle>
        <small><span class="caret"></span> {{ taxonomy.current.lwh }}</small>
      </div>
      <ul class="dropdown-menu dropdown-menu-right">
        <li ng-repeat="option in taxonomy.options.lwh">
          <a href ng-click="setTaxonomyDropdownLWH(option)" ng-bind="option"></a>
        </li>
      </ul>
    </div>
    <!-- /lwh -->
  </td>
  <td>
    <!-- weight -->
    <input type="text" ng-model="sku.weight" style="width: 34px" placeholder="Weight">
    <div class="dropdown inline-block" dropdown>
      <div class="hover-pointer" style="width: 37px" dropdown-toggle>
        <small><span class="caret"></span> {{ taxonomy.current.weight }}</small>
      </div>
      <ul class="dropdown-menu dropdown-menu-right">
        <li ng-repeat="option in taxonomy.options.weight">
          <a href ng-click="setTaxonomyDropdownWeight(option)" ng-bind="option"></a>
        </li>
      </ul>
    </div>
    <!-- /weight -->
  </td>
</tr>
