<div ng-class="{ 'bg-light-info': !sku.auto_pricing, 'bg-warning': sku.quantity < 1, 'bg-danger': sku.discontinued, 'bg-light-success': sku.saved }">
  <!-- Pricing -->
  <div ng-if="$state.current.name == 'products.pricing'"
    class="full-width text-right"
    style="width: 970px; height: 24px; border-bottom: 1px solid #eceff1;">

    <!-- supply pricing -->
    <div class="inline-block pull-left text-muted">
      <div class="width-58 min-height-20" ng-bind="sku.supply_price | centToDollar"></div>
    </div>
    <div class="inline-block pull-left text-muted">
      <div class="width-58 min-height-20" ng-bind="sku.supply_shipping_price | centToDollar"></div>
    </div>
    <!-- /supply pricing -->

    <!-- baseline & default pricing -->
    <div class="inline-block pull-left width-58 text-muted">
      <strong ng-hide="showEdit" ng-bind="sku.baseline_price | centToDollar"></strong>
      <input type="number" ng-show="showEdit" ng-model="sku.baseline_price" class="full-width text-right pad-0" style="margin-top: -2px;"/>
    </div>
    <div class="inline-block pull-left">
      <div class="width-58 min-height-20">
        <strong ng-bind="sku.price | centToDollar"></strong>
      </div>
    </div>
    <div class="inline-block pull-left width-58">
      <strong ng-hide="showEdit" ng-bind="sku.shipping_price | centToDollar"></strong>
      <input type="number" ng-show="showEdit" ng-model="sku.shipping_price" class="full-width text-right pad-0" style="margin-top: -2px;"/>
    </div>
    <div class="inline-block pull-left text-muted">
      <div class="width-58 min-height-20"
        ng-class="{ 'text-danger': sku.price < sku.baseline_price }"
        ng-bind="sku.percentage | percentage:0">
      </div>
    </div>
    <div class="inline-block pull-left text-muted">
      <div class="width-58 min-height-20"
        ng-bind="sku.price * sku.percentage + 1 | centToDollar">
      </div>
    </div>
    <!-- /baseline & default pricing -->

    <!-- eeosk profit -->
    <div class="inline-block pull-left width-58 text-muted">
      <strong ng-bind="(sku.price * (1 - sku.percentage)) + sku.shipping_price - sku.supply_price - sku.supply_shipping_price | centToDollar"
        ng-class="{ 'text-danger': sku.baseline_price + sku.shipping_price - sku.supply_price - sku.supply_shipping_price < 0 }">
      </strong>
    </div>
    <!-- /eeosk profit -->

    <!-- msrp -->
    <div class="inline-block pull-left text-muted width-58">
      <div class="width-58 min-height-20" ng-bind="sku.msrp | centToDollar"></div>
    </div>
    <div class="inline-block pull-left text-muted width-58" ng-class="{ 'text-danger': sku.msrp < sku.regular_price }">
      <span ng-bind="100*(sku.msrp - sku.regular_price)/sku.msrp | number:1"></span>%
    </div>
    <!-- /msrp -->

    <div class="inline-block pull-left text-muted">
      <div class="width-45 min-height-20" ng-bind="sku.quantity"></div>
    </div>

    <!-- <div class="inline-block pull-left width-45">
      <input type="checkbox" ng-model="sku.auto_pricing" ng-disabled="!showEdit">
    </div> -->
    <div class="inline-block pull-left width-58">
      <i class="fa fa-fw fa-lg vert-2 hover-pointer"
        ng-class="sku.hide_from_catalog ? 'fa-toggle-off text-danger' : 'fa-toggle-on text-success'"
        ng-click="toggleHidden()"></i>
    </div>

    <div class="inline-block pull-left width-58">
      <div class="btn btn-xs btn-default" ng-click="showEditor()" ng-hide="showEdit">Edit</div>
      <div class="btn btn-xs btn-default" ng-show="showEdit" ng-click="updatePricing()">Submit</div>
    </div>

    <!-- Links -->
    <div class="inline-block pull-left">
      <div class="btn-group" style="margin-left: 20px;">
        <a href="https://www.doba.com/members/my-inventory/product/details/{{ externalId }}" target="_blank" class="btn btn-xs btn-default">doba</a>
        <!-- <a href="https://www.doba.com/members/catalog/search?adv_filter_update%5B%5D=0&shipping_filter=all&min_qty=0&adv_filter_update%5B%5D=0&adv_filter_update%5Bout_of_stock%5D=on&adv_filter_update%5Bdiscontinued%5D=on&adv_filter_update%5Brefurbished%5D=on&terms={{ sku.identifier }}" target="_blank" class="btn btn-xs btn-default">doba</a> -->
        <a href="https://www.google.com/search?q={{ (sku.identifier + ' ' + sku.selection_text) | pluses }}" target="_blank" class="btn btn-xs btn-default">goog</a>
        <a href="http://www.amazon.com/s/?field-keywords={{ (sku.identifier + ' ' + sku.selection_text) | pluses }}" target="_blank" class="btn btn-xs btn-default">amzn</a>
        <a href="http://www.wayfair.com/keyword.php?keyword={{ sku.selection_text | pluses }}" target="_blank" class="btn btn-xs btn-default">wayfr</a>
      </div>
    </div>
    <!-- /Links -->

  </div>
  <!-- /Pricing -->

  <!-- Dimension -->
  <div ng-if="$state.current.name == 'products.text'" class="pad-5">
    <input type="text" ng-model="sku.selection_text" style="width: 420px;" placeholder="Sku description">
    &nbsp;<small>sku id: <span ng-bind="sku.id"></span></small>
    <div class="pull-right text-right" style="width: 280px;">
      <input type="text" ng-model="sku.length" style="width: 34px" placeholder="L">
      <input type="text" ng-model="sku.width" style="width: 34px" placeholder="W">
      <input type="text" ng-model="sku.height" style="width: 34px" placeholder="H">&nbsp;in.&nbsp;&nbsp;
      <input type="text" ng-model="sku.weight" style="width: 34px" placeholder="Weight">&nbsp;lbs.
    </div>
  </div>
  <!-- /Dimension -->

  <!-- Style, color, material -->
  <div ng-if="$state.current.name == 'products.properties'" class="pad-2">
    <!-- style -->
    <div class="dropdown inline-block" uib-dropdown>
      <input type="text" style="width: 180px;" ng-model="sku.style" placeholder="Styles" uib-dropdown-toggle>
      <ul class="uib-dropdown-menu">
        <li ng-repeat="attr in styles">
          <a href ng-click="addVal('style', attr.value)" ng-bind="attr.value"></a>
        </li>
      </ul>
    </div>
    <!-- /style -->
    <!-- color -->
    <div class="dropdown inline-block" uib-dropdown>
      <input type="text" style="width: 120px;" ng-model="sku.color" placeholder="Colors" uib-dropdown-toggle>
      <ul class="uib-dropdown-menu">
        <li ng-repeat="attr in colors">
          <a href ng-click="addVal('color', attr.value)" ng-bind="attr.value"></a>
        </li>
      </ul>
    </div>
    <!-- /color -->
    <!-- material -->
    <div class="dropdown inline-block" uib-dropdown>
      <input type="text" style="width: 190px;" ng-model="sku.material" placeholder="Materials" uib-dropdown-toggle>
      <ul class="uib-dropdown-menu">
        <li ng-repeat="attr in materials">
          <a href ng-click="addVal('material', attr.value)" ng-bind="attr.value"></a>
        </li>
      </ul>
    </div>
    <!-- /material -->
    <input ng-model="sku.selection_text" style="width: 400px;">

    <div class="btn btn-xs btn-default" ng-click="updateStyleColorMaterial()">Submit</div>
  </div>
  <!-- /Style, color, material -->

</div>
