<div>
  <!-- Activity -->
  <div ng-show="showActivity" class="container gray-border vert-5">
    <div class="row text-left" ng-if="showActivity">
      <ee-admin-user-navbar user="user"></ee-admin-user-navbar>
    </div>
    <div class="chart vert-20 margin-top-0">
  </div>
  <!-- /Activity -->

  <!-- Onboard -->
  <div class="row vert-10 text-left" ng-if="showOnboard">
    <div class="col col-sm-4">
      <ee-admin-user-navbar user="user"></ee-admin-user-navbar>
    </div>
    <div class="col col-sm-2 col-xs-6">
      <img ng-src="{{ user.storefront_meta.about.imgUrl | tinyBackground }}" class="vert-2 vertical-align-top full-width">
    </div>
    <div class="col col-sm-2 col-xs-3">
      <div class="inline-block">
        <div ng-if="mailto" class="btn btn-xs btn-default" ng-click="onboard()">Sent <i class="fa fa-fw fa-check"></i></div>
        <div><small>Created {{ user.created_at | timeago }}</small></div>
        <div><small>Active {{ user.last_active_at | timeago }}</small></div>
      </div>
    </div>
    <div class="col col-sm-2 col-xs-3">
      <small ng-if="user.onboarded">Onboarded {{ user.onboarded_at | timeago }}</small>
      <div ng-if="!user.onboarded && !mailto" class="btn btn-xs btn-primary"
        ng-click="onboard()"
        ng-disabled="user.reading">
        Onboard <i class="fa fa-fw fa-external-link"></i>
      </div>
    </div>
  </div>
  <!-- /Onboard -->
</div>
