<tr>

  <td><small ng-bind="user.id"></small></td>
  <td style="padding: 3px" ng-style="{ 'background-color': user.storefront_meta.brand.color.secondary }">
    <a href="{{ target }}" target="_blank" class="no-underline" ng-style="{ color: user.storefront_meta.brand.color.tertiary }">
      <span ng-if="user.storefront_meta.name" ng-bind="user.storefront_meta.name"></span>
      <span ng-if="!user.storefront_meta.name">(no name)</span>
    </a>
  </td>

  <!-- info -->
  <td ng-if="state == 'users.info'"><small ng-bind="user.username"></small></td>
  <td ng-if="state == 'users.info'"><small ng-bind="user.domain"></small></td>
  <td ng-if="state == 'users.info'"><small ng-bind="user.last_active_at | timeago"></small></td>
  <td ng-if="state == 'users.info'"><small ng-bind="user.created_at | timeago"></small></td>
  <td ng-if="state == 'users.info'">
    <div ng-if="mailto" class="btn btn-xs btn-default" ng-click="onboard()">Sent <i class="fa fa-fw fa-check"></i></div>
    <small ng-if="user.onboarded" ng-bind="user.onboarded_at | timeago"></small>
    <div ng-if="!user.onboarded && !mailto" class="btn btn-xs btn-primary"
      ng-click="onboard()"
      ng-disabled="user.reading">
      Onboard <i class="fa fa-fw fa-external-link"></i>
    </div>
  </td>
  <td ng-if="state == 'users.info'"><small ng-bind="user.proposition"></small></td>
  <td ng-if="state == 'users.info'" class="text-center text-success">
    <i class="fa fa-fw fa-check" ng-if="user.storefront_meta.earnings_accounts.paypal"></i>
  </td>
  <!-- /info -->

  <!-- social -->
  <td ng-if="state == 'users.social'"></td>
  <td ng-if="state == 'users.social'" ng-class="{ 'bg-facebook': user.storefront_meta.audience.social.facebook }" class="text-center white-color">
    <a ng-if="user.storefront_meta.audience.social.facebook" href="https://facebook.com/{{ user.storefront_meta.audience.social.facebook }}" target="_blank"><i class="fa fa-fw fa-facebook white-color"></i></a>
  </td>
  <td ng-if="state == 'users.social'" ng-class="{ 'bg-pinterest': user.storefront_meta.audience.social.pinterest }" class="text-center white-color">
    <a ng-if="user.storefront_meta.audience.social.pinterest" href="https://pinterest.com/{{ user.storefront_meta.audience.social.pinterest }}" target="_blank"><i class="fa fa-fw fa-pinterest white-color"></i></a>
  </td>
  <td ng-if="state == 'users.social'" ng-class="{ 'bg-twitter': user.storefront_meta.audience.social.twitter }" class="text-center white-color">
    <a ng-if="user.storefront_meta.audience.social.twitter" href="https://twitter.com/{{ user.storefront_meta.audience.social.twitter }}" target="_blank"><i class="fa fa-fw fa-twitter white-color"></i></a>
  </td>
  <td ng-if="state == 'users.social'" ng-class="{ 'bg-instagram': user.storefront_meta.audience.social.instagram }" class="text-center white-color">
    <a ng-if="user.storefront_meta.audience.social.instagram" href="https://instagram.com/{{ user.storefront_meta.audience.social.instagram }}" target="_blank"><i class="fa fa-fw fa-instagram white-color"></i></a>
  </td>
  <td ng-if="state == 'users.social'">
    <a ng-if="user.storefront_meta.blog.url" href="{{ user.storefront_meta.blog.url | addHttp }}" target="_blank"><small ng-bind="user.storefront_meta.blog.url"></small></a>
  </td>
  <td ng-if="state == 'users.social'">
    <div ng-repeat="site in ['facebook', 'pinterest', 'twitter', 'instagram']"
      ng-if="user.storefront_meta.audience.social[site] && (user.storefront_meta.audience.social[site].indexOf('http') > -1 || user.storefront_meta.audience.social[site].indexOf(' ') > -1)">
      <small><i class="fa fa-fw fa-{{ site }}"></i> {{ user.storefront_meta.audience.social[site] }}</small>
    </div>
  </td>
  <!-- /social -->

  <!-- branding -->
  <td ng-if="state == 'users.branding'">
    <div style="width: 320px; overflow: hidden;">
      <ee-storefront-logo meta="user.storefront_meta"></ee-storefront-logo>
    </div>
  </td>
  <td ng-if="state == 'users.branding'" class="text-center">
    <img ng-if="user.storefront_meta.about.imgUrl.indexOf('storefront_home') > -1" ng-src="{{ user.storefront_meta.about.imgUrl | tinyBackground }}">
  </td>
  <td ng-if="state == 'users.branding'">
    <div ng-if="user.storefront_meta.about.headline || user.storefront_meta.about.content" class="max-width-400" style="max-height: 80px; overflow-y: scroll;">
      <strong><small ng-bind="user.storefront_meta.about.headline"></small></strong>
      <br>
      <small ng-bind="user.storefront_meta.about.content"></small>
    </div>
  </td>
  <!-- /branding -->

  <!-- activity -->
  <td ng-show="state == 'users.activity'">
    <div class="chart min-width-600"></div>
  </td>
  <!-- /activity -->
</tr>
