<!-- Products -->
<div id="products"
  class="container-fluid position-relative text-center overflow-x-scroll"
  style="max-width: 1080px;"
  ng-if="$state.current.name != 'products.processing'">

  <div ng-hide="products.ee.loading" class="margin-5 text-left" style="width: 1050px;">

    <!-- Search -->
    <div class="full-width vert-5">
      <small class="inline-block vert-7" style="width: 38px;">Search</small>
      <!-- Search products -->
      <div class="inline-block vertical-align-bottom" style="width: 400px;">
        <form ng-submit="products.fns.search(products.ee.Products.search.inputs.search)">
          <div ng-class="{ 'input-group': products.ee.Products.search.inputs.searchLabel }">
            <input type="text" ng-model="products.ee.Products.search.inputs.search" class="form-control" placeholder="Search product titles">
            <span ng-if="products.ee.Products.search.inputs.searchLabel" class="input-group-btn">
              <input type="submit" class="hidden"/>
              <button class="btn btn-default" type="button" ng-click="products.fns.clearSearch()">
                <i class="fa fa-times text-muted"></i>
              </button>
            </span>
          </div>
        </form>
      </div>
      <!-- /Search products -->
      <!-- Search ids -->
      <div class="inline-block vertical-align-bottom" style="width: 300px;">
        <form ng-submit="products.fns.search(products.ee.Products.search.inputs.search)">
          <input type="text" ng-model="products.ee.Products.search.inputs.supplier_id"
            class="form-control"
            placeholder="Search by product id, sku id, or supplier id"/>
        </form>
      </div>
      <!-- /Search ids -->
    </div>
    <!-- /Search -->

    <!-- Order -->
    <div class="full-width vert-5">
      <small class="inline-block vert-7" style="width: 38px;">Order</small>
      <div class="btn-group">
        <div ng-repeat="order in products.ee.Products.search.inputs.orderArray"
          ng-click="products.fns.setOrder(order, 'search')"
          ng-class="{ 'btn-success': order.order == products.ee.Products.search.inputs.order.order }"
          class="btn btn-sm btn-default" style="padding: 5px;"
          ng-bind-html="order.html">
        </div>
      </div>
    </div>
    <!-- Order -->

    <!-- Filter -->
    <div class="full-width vert-5">
      <small class="inline-block vert-7" style="width: 38px;">Filter</small>
      <!-- category -->
      <div class="btn-group btn-group-sm" uib-dropdown ng-if="!products.ee.Products.search.inputs.category.id">
        <button type="button" class="btn btn-default dropdown-toggle" uib-dropdown-toggle>
          Category&nbsp;&nbsp;<span class="caret"></span>
        </button>
        <ul class="uib-dropdown-menu" uib-dropdown-menu>
          <li ng-repeat="category in products.ee.Products.search.inputs.categoryArray">
            <a href
              ng-click="products.fns.setCategory(category, 'search')"
              ng-bind="category.title"></a>
          </li>
        </ul>
      </div>
      <div ng-if="products.ee.Products.search.inputs.category.id"
          ng-click="products.fns.setCategory(null, 'search')"
          class="btn btn-info btn-sm">
        {{ products.ee.Products.search.inputs.category.title }}&nbsp;<i class="fa fa-times"></i>
      </div>
      <!-- /category -->
      <!-- price -->
      <div class="btn-group btn-group-sm" uib-dropdown ng-if="!products.ee.Products.search.inputs.range.min && !products.ee.Products.search.inputs.range.max">
        <button type="button" class="btn btn-default dropdown-toggle" uib-dropdown-toggle>
          Price range&nbsp;&nbsp;<span class="caret"></span>
        </button>
        <ul class="uib-dropdown-menu" uib-dropdown-menu>
          <li ng-repeat="range in products.ee.Products.search.inputs.rangeArray">
            <a href ng-click="products.fns.setRange(range, 'search')" ng-bind="range | rangeToText"></a>
          </li>
        </ul>
      </div>
      <div ng-if="products.ee.Products.search.inputs.range.min || products.ee.Products.search.inputs.range.max"
          ng-click="products.fns.setRange(null, 'search')"
          class="btn btn-info btn-sm">
        {{ { min: products.ee.Products.search.inputs.range.min, max: products.ee.Products.search.inputs.range.max } | rangeToText }}&nbsp;<i class="fa fa-times"></i>
      </div>
      <!-- /price -->
      <div class="btn btn-sm btn-default" disabled>Style&nbsp;&nbsp;<span class="caret"></div>
      <div class="btn btn-sm btn-default" disabled>Color&nbsp;&nbsp;<span class="caret"></div>
      <div class="btn btn-sm btn-default" disabled>Material&nbsp;&nbsp;<span class="caret"></div>
      <div class="btn btn-sm btn-default" ng-click="products.fns.toggleFilter('no_dimensions', 'search')" ng-class="{ active: products.ee.Products.search.inputs.filter == 'no_dimensions' }"><span class="bg-muted"> No Dimensions </span></div>
      <!-- <div class="btn btn-sm btn-default" ng-click="products.fns.toggleFilter('out_of_stock', 'search')" ng-class="{ active: products.ee.Products.search.inputs.filter == 'out_of_stock' }"><span class="bg-warning"> Out of stock </span></div> -->
      <!-- <div class="btn btn-sm btn-default" ng-click="products.fns.toggleFilter('discontinued', 'search')" ng-class="{ active: products.ee.Products.search.inputs.filter == 'discontinued' }"><span class="bg-danger"> Discontinued </span></div> -->
      <!-- <div class="btn btn-sm btn-default" ng-click="products.fns.toggleFilter('manual_pricing', 'search')" ng-class="{ active: products.ee.Products.search.inputs.filter == 'manual_pricing' }"><span class="bg-light-info"> Manual pricing </span></div> -->
      <!-- <div class="btn btn-sm btn-default" ng-click="products.fns.toggleFilter('hide_from_catalog', 'search')" ng-class="{ active: products.ee.Products.search.inputs.filter == 'hide_from_catalog' }"><span class="bg-muted"> Hidden </span></div> -->
    </div>
    <!-- /Filter -->

    <div ng-show="products.data.activeProduct.id > 0"
      ng-keydown="products.keydown($event)"
      class="position-fixed pad-7 white-background tag-navbar"
      style="top: 100px; left: 0; right: 0; bottom: 0; z-index: 200;">
      <div class="vert-20 margin-top-0">
        <div class="pull-right">
          <small class="text-muted" ng-bind="products.data.activeSaved"></small>
          <div class="btn btn-default" ng-click="products.fns.setActiveProduct({})">close</div>
        </div>
        <div class="media" ng-if="products.data.activeProduct.skus.length > 0">
          <div class="media-left">
            <img class="media-object" style="width: 120px;" ng-src="{{ (products.data.activeProduct.image | cloudinaryResizeTo:100:100) || 'https://placeholdit.imgix.net/~text?txtsize=20&bg=ffffff&txtclr=ffcccc&txt=no+image&w=100&h=100' }}">
          </div>
          <div class="media-body">
            <div ng-bind="products.data.activeProduct.title"></div>
            <small>Old tags: <span ng-bind="products.data.activeProduct.skus[0].tags.join(' | ')"></span></small>
            <div ng-if="!products.data.activeProduct.shown">
              <h4><span class="label label-danger">Not shown</span></h4>
            </div>
            <div>
              <span ng-repeat="tag in products.data.activeProduct.skus[0].tags1" class="badge hover-pointer"
                ng-click="products.fns.removeTagFromActiveProduct(tag, 1, { save: true })">
                <span ng-bind="tag"></span> <i class="fa fa-fw fa-times"></i>
              </span>
              <i class="fa fa-fw fa-chevron-right"></i>
              <span ng-repeat="tag in products.data.activeProduct.skus[0].tags2" class="badge hover-pointer"
                ng-click="products.fns.removeTagFromActiveProduct(tag, 2, { save: true })">
                <span ng-bind="tag"></span> <i class="fa fa-fw fa-times"></i>
              </span>
              <i class="fa fa-fw fa-chevron-right"></i>
              <span ng-repeat="tag in products.data.activeProduct.skus[0].tags3" class="badge hover-pointer"
                ng-click="products.fns.removeTagFromActiveProduct(tag, 3, { save: true })">
                <span ng-bind="tag"></span> <i class="fa fa-fw fa-times"></i>
              </span>
            </div>
          </div>
        </div>
      </div>
      <uib-tabset active="products.data.activeTagTab">
        <uib-tab ng-repeat="(tag1, branch) in products.tagTree"
          heading="{{ tag1 }}"
          classes="{{ products.data.activeProduct.skus[0].tags1.indexOf((tag1 | urlText)) > -1 ? 'tagged' : '' }}"
          index="$index">
          <div ng-repeat="(tag2, tags3) in branch"
            class="inline-block pad-5 vertical-align-top">
            <div class="panel" ng-class="products.data.activeProduct.skus[0].tags2.indexOf((tag2 | urlText)) > -1 ? 'panel-primary' : 'panel-default'">
              <div class="panel-heading hover-pointer" style="padding: 2px 5px;"
                ng-click="products.fns.toggleTagsForActiveProduct({ tag1: tag1, tag2: tag2 }, { save: true })"
                ng-bind="tag2">
              </div>
              <table class="table">
                <tr ng-repeat="tag3 in tags3" class="hover-pointer"
                  ng-click="products.fns.toggleTagsForActiveProduct({ tag1: tag1, tag2: tag2, tag3: tag3 }, { save: true })">
                  <td style="padding: 2px 5px;"
                    ng-class="{ 'bg-light-blue blue-border no-side-border': products.data.activeProduct.skus[0].tags3.indexOf((tag3 | urlText)) > -1 }">
                    <small ng-bind="tag3"></small>
                  </td>
                </tr>
              </table>
            </div>
          </div>
        </uib-tab>
      </uib-tabset>
    </div>



    <div class="margin-10 text-center" ng-hide="products.ee.Products.search.products.length <= 0">
      <div uib-pagination
        total-items="products.ee.Products.search.count"
        items-per-page="products.ee.Products.search.inputs.perPage"
        ng-model="products.ee.Products.search.inputs.page"
        max-size="5"
        class="pagination-sm margin-0 vertical-align-top"
        previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"
        boundary-links="true"
        rotate="false"
        ng-change="products.fns.runSection('search')">
      </div>
    </div>
  </div>

  <div ng-hide="products.ee.Products.search.reading || products.ee.loading" class="margin-0-auto">
    <div class="alert alert-info max-width-600 margin-0-auto pad-5" ng-hide="products.compact">
      Run Elasticsearch Index after edits.&nbsp;&nbsp;Edits are live.
    </div>

    <div class="text-left vert-10">
      <div class="vert-5" style="width: 1060px; height: 32px;">
        <div class="inline-block pull-left" style="width: 76px; height: 32px;"></div>
        <!-- Pricing header -->
        <div ng-if="$state.current.name == 'products.pricing'"
          ng-repeat="heading in ['Supply<br>price', 'Supply<br>shipping', 'Baseline<br>price', 'Default<br>price', 'Default<br>shipping', 'Default<br>percent', 'Seller<br>profit', 'eeosk<br>profit', 'MSRP', '% off<br>MSRP', 'Qty<br>Avail', 'Show in<br>stores']"
          class="inline-block text-right text-muted pull-left line-height-1 width-58"
          ng-bind-html="heading">
        </div>
        <!-- /Pricing header -->
        <!-- Text header -->
        <div ng-if="$state.current.name == 'products.text'">

        </div>
        <!-- /Text header -->
        <!-- Dimension header -->
        <div ng-if="$state.current.name == 'products.properties'">

        </div>
        <!-- /Dimension header -->
        <!-- Links header -->
        <div ng-if="$state.current.name == 'products.links'">

        </div>
        <!-- /Links header -->
      </div>

      <!-- Results -->
      <ee-product-for-admin
        ng-repeat="product in products.ee.Products.search.products"
        product="product"
        styles="products.taxonomyData.taxonomies.styles"
        colors="products.taxonomyData.taxonomies.colors"
        materials="products.taxonomyData.taxonomies.materials"
        compact="products.compact">
      </ee-product-for-admin>
      <!-- /Results -->

      <div ng-show="!products.ee.Products.search.reading && products.ee.Products.search.products.length <= 0">
        <div class="pad-20">No results found</div>
      </div>
    </div>
  </div>

  <div ng-hide="products.ee.Products.search.reading || products.ee.Products.search.count <= products.ee.Products.search.inputs.perPage" class="pad-20 vert-20">
    <div uib-pagination
      total-items="products.ee.Products.search.count"
      items-per-page="products.ee.Products.search.inputs.perPage"
      ng-model="products.ee.Products.search.inputs.page"
      max-size="5"
      class="pagination-sm margin-0 vertical-align-top"
      previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"
      boundary-links="true"
      rotate="false"
      ng-change="products.fns.runSection('search')">
    </div>
  </div>
</div>
<!-- /Products -->


<!-- Processing -->
<div ng-if="$state.current.name == 'products.processing'"
  class="container max-width-900 text-center">
  <div class="btn btn-default" ng-click="products.processingFns.processDropbox()" ng-disabled="products.ee.Processing.status.running">
    Dropbox
  </div>
  <div class="btn btn-default" ng-click="products.processingFns.runPricingAlgorithm()" ng-disabled="products.ee.Processing.status.running">
    Pricing
  </div>
  <div class="btn btn-default" ng-click="products.processingFns.runCloudinary()" ng-disabled="products.ee.Processing.status.running">
    Cloudinary
  </div>
  <div class="btn btn-default" ng-click="products.processingFns.runTags()" ng-disabled="products.ee.Processing.status.running">
    Tags
  </div>
  <div class="btn btn-default" ng-click="products.processingFns.indexElasticsearch()" ng-disabled="products.ee.Processing.status.running">
    Elasticsearch
  </div>
  <!-- <div class="btn btn-default">Repricing</div> -->
  <div class="vert-10">
    <uib-progressbar ng-repeat="section in products.ee.Processing.sections"
      ng-if="products.ee.Processing.status[section].running && !products.ee.Processing.status.err"
      class="progress-striped active max-width-600 margin-0-auto" style="height: 32px;">
      <div class="pad-5">{{ products.ee.Processing.status[section].message || 'Running' }}</div>
    </uib-progressbar>
    <div ng-if="products.ee.Processing.status.err" class="alert alert-info max-width-600 margin-0-auto pad-5">
      Error: <span ng-bind="products.ee.Processing.status.err"></span>
    </div>
    <div ng-repeat="section in products.ee.Processing.sections"
      ng-if="products.ee.Processing.status[section].err"
      class="alert alert-info max-width-600 margin-0-auto pad-5">
      Error: <span ng-bind="products.ee.Processing.status[section].err"></span>
    </div>
    <div class="vert-20 text-left">
      <uib-accordion>
        <div uib-accordion-group
          ng-repeat="section in products.ee.Processing.sections"
          heading="{{ section }} info"
          ng-if="products.ee.Processing.status[section].message">
          <pre><small>{{ products.ee.Processing.status[section] | json }}</small></pre>
        </div>
      </uib-accordion>
    </div>
    <br>
    <!-- <pre class="text-left">{{ products.ee.Processing.status | json }}</pre> -->
  </div>
</div>
<!-- /Processing header -->

<ee-loading loading="products.ee.Products.search.reading"></ee-loading>
