<!-- CATALOG products -->
<div id="catalog-products" class="inline-block full-width pad-20 position-relative text-center" ng-hide="products.ee.loading">

  <div class="full-width inline-block vert-20 margin-top-0">
    <div ng-repeat="category in products.data.inputs.categoryArray"
         ng-click="products.fns.setCategory(category)"
         class="btn btn-xs btn-default margin-2"
         ng-class="{ 'btn-primary': category == products.data.inputs.category }">
      <span ng-show="category == products.data.inputs.category"><i class="fa fa-fw fa-times"></i></span>{{ category }}
    </div>
    <br>
    <div ng-repeat="range in products.data.inputs.rangeArray"
         ng-click="products.fns.setRange(range)"
         class="btn btn-xs btn-default margin-2"
         ng-class="{ 'btn-primary': range.min == products.data.inputs.range.min && range.max == products.data.inputs.range.max }">
      <span ng-show="range.min == products.data.inputs.range.min && range.max == products.data.inputs.range.max"><i class="fa fa-fw fa-times"></i></span>{{ range | rangeToText }}
    </div>
  </div>

  <div ng-show="products.data.searching" class="position-absolute top-left-bottom-right-0" style="z-index: 100;">
    <div class="position-absolute full-width full-height white-background opacity-08" style="z-index: 0;"></div>
    <h2 class="position-relative margin-0 pad-10">
      <i class="fa fa-fw fa-circle-o-notch fa-spin text-info"></i>&nbsp;Loading
    </h2>
  </div>

  <div class="inline-block vert-20" ng-class="{ 'opacity-08': products.data.searching }">
    <div ng-repeat="product in products.data.products" class="inline-block text-left gray-border vertical-align-top pad-5 margin-2" style="width: 22%; height: 75px;">
      <div class="media">
        <div class="media-left">
          <a href ng-click="products.open(product)">
            <img class="media-object" ng-src="{{ product.image_meta.main_image.url | thumbnail }}">
          </a>
        </div>
        <div class="media-body">
          <p href ng-click="products.open(product)" class="media-heading line-height-1 text-info hover-pointer hover-underline overflow-hidden" style="max-height: 37px;" ng-bind="product.title"></p>
          <div ng-click="products.hide(product)" class="btn btn-xs btn-default" ng-hide="product.hide_from_catalog" ng-disabled="product.loading">Hide</div>
          <div ng-click="products.unhide(product)" class="btn btn-xs btn-danger" ng-show="product.hide_from_catalog" ng-disabled="product.loading">Show</div>&nbsp;
          <small>id: {{ product.id }}</small>
        </div>
      </div>
    </div>
  </div>

  <div ng-show="!products.data.searching && products.data.products.length <= 0">
    <div class="pad-20">No results found</div>
  </div>
</div>
<!-- /CATALOG products -->
