<!-- Products -->
<div id="products"
  class="container-fluid max-width-900 position-relative text-center overflow-x-scroll"
  ng-if="$state.current.name != 'products.processing'">

  <div ng-hide="products.ee.loading" class="margin-5 text-left" style="width: 870px;">

    <!-- Search -->
    <div class="full-width vert-5">
      <small class="inline-block vert-7" style="width: 38px;">Search</small>
      <!-- Search products -->
      <div class="inline-block vertical-align-bottom" style="width: 400px;">
        <form ng-submit="products.fns.search(products.ee.Products.search.inputs.search)">
          <div ng-class="{ 'input-group': products.ee.Products.search.inputs.searchLabel }">
            <input type="text" ng-model="products.ee.Products.search.inputs.search" class="form-control" placeholder="Search product titles">
            <span ng-if="products.ee.Products.search.inputs.searchLabel" class="input-group-btn">
              <input type="submit" class="hidden"/>
              <button class="btn btn-default" type="button" ng-click="products.fns.clearSearch()">
                <i class="fa fa-times text-muted"></i>
              </button>
            </span>
          </div>
        </form>
      </div>
      <!-- /Search products -->
      <!-- Search ids -->
      <div class="inline-block vertical-align-bottom" style="width: 400px;">
        <form ng-submit="products.fns.search(products.ee.Products.search.inputs.search)">
          <input type="text" ng-model="products.ee.Products.search.inputs.supplier_id"
            class="form-control"
            placeholder="Search by product id, sku id, or supplier id"/>
        </form>
      </div>
      <!-- /Search ids -->
    </div>
    <!-- /Search -->

    <!-- Order -->
    <div class="full-width vert-5">
      <small class="inline-block vert-7" style="width: 38px;">Order</small>
      <div class="btn-group">
        <div ng-repeat="order in products.ee.Products.search.inputs.orderArray"
          ng-click="products.fns.setOrder(order, 'search')"
          ng-class="{ 'btn-success': order.order == products.ee.Products.search.inputs.order.order }"
          class="btn btn-sm btn-default" style="padding: 5px;"
          ng-bind-html="order.html">
        </div>
      </div>
    </div>
    <!-- Order -->

    <!-- Filter -->
    <div class="full-width vert-5">
      <small class="inline-block vert-7" style="width: 38px;">Filter</small>
      <!-- category -->
      <div class="btn-group btn-group-sm" uib-dropdown ng-if="!products.ee.Products.search.inputs.category.id">
        <button type="button" class="btn btn-default dropdown-toggle" uib-dropdown-toggle>
          Category&nbsp;&nbsp;<span class="caret"></span>
        </button>
        <ul class="uib-dropdown-menu">
          <li ng-repeat="category in products.ee.Products.search.inputs.categoryArray">
            <a href
              ng-click="products.fns.setCategory(category, 'search')"
              ng-bind="category.title"></a>
          </li>
        </ul>
      </div>
      <div ng-if="products.ee.Products.search.inputs.category.id"
          ng-click="products.fns.setCategory(null, 'search')"
          class="btn btn-info btn-sm">
        {{ products.ee.Products.search.inputs.category.title }}&nbsp;<i class="fa fa-times"></i>
      </div>
      <!-- /category -->
      <!-- price -->
      <div class="btn-group btn-group-sm" uib-dropdown ng-if="!products.ee.Products.search.inputs.range.min && !products.ee.Products.search.inputs.range.max">
        <button type="button" class="btn btn-default dropdown-toggle" uib-dropdown-toggle>
          Price range&nbsp;&nbsp;<span class="caret"></span>
        </button>
        <ul class="uib-dropdown-menu">
          <li ng-repeat="range in products.ee.Products.search.inputs.rangeArray">
            <a href ng-click="products.fns.setRange(range, 'search')" ng-bind="range | rangeToText"></a>
          </li>
        </ul>
      </div>
      <div ng-if="products.ee.Products.search.inputs.range.min || products.ee.Products.search.inputs.range.max"
          ng-click="products.fns.setRange(null, 'search')"
          class="btn btn-info btn-sm">
        {{ { min: products.ee.Products.search.inputs.range.min, max: products.ee.Products.search.inputs.range.max } | rangeToText }}&nbsp;<i class="fa fa-times"></i>
      </div>
      <!-- /price -->
      <div class="btn btn-sm btn-default" disabled>Style&nbsp;&nbsp;<span class="caret"></div>
      <div class="btn btn-sm btn-default" disabled>Color&nbsp;&nbsp;<span class="caret"></div>
      <div class="btn btn-sm btn-default" disabled>Material&nbsp;&nbsp;<span class="caret"></div>
      <div class="btn btn-sm btn-default" ng-click="products.fns.toggleFilter('out_of_stock', 'search')" ng-class="{ active: products.ee.Products.search.inputs.filter == 'out_of_stock' }" ><span class="bg-warning"> Out of stock </span></div>
      <div class="btn btn-sm btn-default" ng-click="products.fns.toggleFilter('discontinued', 'search')" ng-class="{ active: products.ee.Products.search.inputs.filter == 'discontinued' }" ><span class="bg-danger"> Discontinued </span></div>
      <div class="btn btn-sm btn-default" ng-click="products.fns.toggleFilter('manual_pricing', 'search')" ng-class="{ active: products.ee.Products.search.inputs.filter == 'manual_pricing' }" >Manual pricing</div>
      <div class="btn btn-sm btn-default" ng-click="products.fns.toggleFilter('hide_from_catalog', 'search')" ng-class="{ active: products.ee.Products.search.inputs.filter == 'hide_from_catalog' }" >Hidden</div>
    </div>
    <!-- /Filter -->


    <div class="margin-10 text-center" ng-hide="products.ee.Products.search.products.length <= 0">
      <uib-pagination
        total-items="products.ee.Products.search.count"
        items-per-page="products.ee.Products.search.inputs.perPage"
        ng-model="products.ee.Products.search.inputs.page"
        max-size="5"
        class="pagination-sm margin-0 vertical-align-top"
        previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"
        boundary-links="true"
        rotate="false"
        ng-change="products.fns.runSection('search')">
      </uib-pagination>
    </div>
  </div>

  <div ng-hide="products.ee.Products.search.reading || products.ee.loading" class="margin-0-auto">
    <div class="alert alert-info max-width-600 margin-0-auto pad-5" ng-hide="products.compact">
      Edits are immediately live
    </div>

    <div class="text-left overflow-x-scroll vert-10">
      <div class="vert-5" style="width: 880px; height: 32px;">
        <div class="inline-block pull-left" style="width: 76px; height: 32px;"></div>
        <!-- Pricing header -->
        <div ng-if="$state.current.name == 'products.pricing'"
          ng-repeat="heading in ['Supply<br>price', 'Supply<br>shipping', 'eeosk<br>price', 'eeosk<br>shipping', 'eeosk<br>profit', 'Seller<br>price', 'MSRP', '% off', 'Quantity', 'Automate<br>pricing', 'Show in<br>stores']"
          class="inline-block text-right text-muted pull-left line-height-1 width-70"
          ng-bind-html="heading">
        </div>
        <!-- /Pricing header -->
        <!-- Text header -->
        <div ng-if="$state.current.name == 'products.text'">

        </div>
        <!-- /Text header -->
        <!-- Dimension header -->
        <div ng-if="$state.current.name == 'products.properties'">

        </div>
        <!-- /Dimension header -->
        <!-- Links header -->
        <div ng-if="$state.current.name == 'products.links'">

        </div>
        <!-- /Links header -->
      </div>


      <!-- Results -->
      <ee-product-for-admin
        ng-repeat="product in products.ee.Products.search.products"
        ng-hide="product.hide_from_catalog && products.hideHidden"
        product="product"
        styles="products.taxonomyData.taxonomies.styles"
        colors="products.taxonomyData.taxonomies.colors"
        materials="products.taxonomyData.taxonomies.materials"
        compact="products.compact">
      </ee-product-for-admin>
      <!-- /Results -->

      <div ng-show="!products.ee.Products.search.reading && products.ee.Products.search.products.length <= 0">
        <div class="pad-20">No results found</div>
      </div>
    </div>
  </div>

  <div ng-hide="products.ee.Products.search.reading || products.ee.Products.search.count <= products.ee.Products.search.inputs.perPage" class="pad-20 vert-20">
    <uib-pagination
      total-items="products.ee.Products.search.count"
      items-per-page="products.ee.Products.search.inputs.perPage"
      ng-model="products.ee.Products.search.inputs.page"
      max-size="5"
      class="pagination-sm margin-0 vertical-align-top"
      previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"
      boundary-links="true"
      rotate="false"
      ng-change="products.fns.runSection('search')">
    </uib-pagination>
  </div>
</div>
<!-- /Products -->


<!-- Processing -->
<div ng-if="$state.current.name == 'products.processing'"
  class="container max-width-900 text-center">
  <div class="btn btn-default" ng-click="products.processingFns.update()">Dropbox: Update</div>
  <div class="btn btn-default" disabled>Dropbox: Create</div>
  <!-- <div class="btn btn-default">Repricing</div> -->
  <div class="btn btn-default" disabled>Elasticsearch: Index</div>
  <div class="vert-10">
    <uib-progressbar ng-if="products.ee.Processing.status.update.running && !products.ee.Processing.status.err"
      class="progress-striped active max-width-600 margin-0-auto" style="height: 32px;">
      <div class="pad-5">{{ products.ee.Processing.status.update.message || 'Running' }}</div>
    </uib-progressbar>
    <div ng-if="products.ee.Processing.status.err" class="alert alert-info max-width-600 margin-0-auto pad-5">
      Error: <span ng-bind="products.ee.Processing.status.err"></span>
    </div>
    <div ng-if="products.ee.Processing.status.update" class="vert-20 text-left">
      <uib-accordion>
        <uib-accordion-group heading="Update info" ng-if="products.ee.Processing.status.update.message" is-open="true">
          <pre><small>{{ products.ee.Processing.status.update | json }}</small></pre>
        </uib-accordion-group>
        <uib-accordion-group heading="Create info" ng-if="products.ee.Processing.status.create.message" is-open="true">
          <pre><small>{{ products.ee.Processing.status.create | json }}</small></pre>
        </uib-accordion-group>
      </uib-accordion>
    </div>
    <br>
    <pre>{{ products.ee.Processing.status | json }}</pre>
  </div>
</div>
<!-- /Processing header -->

<ee-loading loading="products.ee.Products.search.reading"></ee-loading>
