<div class="container vert-20">
  <div class="margin-10" ng-hide="collections.ee.Collections.collections.length <= 0">
    <uib-pagination
      total-items="collections.ee.Collections.count"
      items-per-page="collections.ee.Collections.inputs.perPage"
      ng-model="collections.ee.Collections.inputs.page"
      max-size="5"
      class="pagination-sm margin-0 vertical-align-top"
      previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"
      boundary-links="true"
      rotate="false"
      ng-change="collections.fns.runQuery()">
    </uib-pagination>
  </div>
  <div class="row">
    <div class="col col-sm-4" ng-repeat="collection in collections.ee.Collections.collections">
      <img ng-src="{{ collection.banner | cloudinaryResizeTo:255:150 }}" class="full-width">
    </div>
  </div>
</div>
